:root{
    --Template :'';
}

#maincontainer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-content: center;



}
#screen{
    margin-top: 100px;
    height: 700px;
    width: 700px;
    border: dashed;
    display: grid;
    grid-template-columns: var(--Template)
    
}

.pixel{
border:  solid 1px;
height: auto;
width: auto;
}