:root{
    --Template :'';
    --RANCOLOR: '';
}

#maincontainer{
    background: rgb(233,233,233);
background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-content: center;

}

#footer{
    display: flex;
    background: rgb(233,233,233);
background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(148,187,233,1) 100%);
height: 200px;
}

#screen{
    margin-top: 100px;
    height: 700px;
    width: 700px;
    border: dashed;
    display: grid;
    grid-template-columns: var(--Template)
    
}

.pixel{
height: auto;
width: auto;
transition: 1s;
}
.pixel:hover{
    background-color: black;
}
.normalModeOn{
    background-color: black;

}

.deactivated{
    background-color: white;
}

#controls{
    display: flex;
    border: solid;
    width: 600px;
    justify-content: center;
    align-items: center;
}
.panel{
    width: 250px;
    height: 500px;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
}

#modes{
    border: solid;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paneltittle{
    border: solid;
    width: 250px;
}