:root{
    --Template :'';
    --RANCOLOR: '';
}

#maincontainer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-content: center;



}
#screen{
    margin-top: 100px;
    height: 700px;
    width: 700px;
    border: dashed;
    display: grid;
    grid-template-columns: var(--Template)
    
}

.pixel{
height: auto;
width: auto;
transition: 1s;
}
.pixel:hover{
    background-color: black;
}
.normalModeOn{
    background-color: black;

}

.deactivated{
    background-color: white;
}

